@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size: 14px;
    color: #1f2937;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 1.75em;
    font-weight: 500;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

h4,
.category {
    font-weight: 500;
}

.category {
    white-space: nowrap;
    margin-right: 0.25em;
}

.h-inherit {
    height: inherit;
}

.contact-icon {
    height: 1em;
    width: 1em;
    margin-right: 1em;
}

.main-columns {
    margin: 1em auto;
    display: flex;

    > div {
        padding: 1em;
    }

    > div:first-child {
        width: 42%;
    }

    > div:last-child {
        width: 58%;
    }

    @media (max-width: 767px) {
        flex-direction: column;

        > div:first-child,
        > div:last-child {
            width: 100%;
        }
    }

    @media print {
        flex-direction: column;
        margin: 0;
    }
}

.content-section {
    margin-bottom: 1em;
}
